@{
    // ViewBag. = "";
    ViewBag.Title = "privacy";
}
<body>
        @*Body*@
        <center>
            <div>
            <h1>Hello From Privacy</h1>
            </div>
        </center>
        @*Body*@
</body>
